/*div {
	position: absolute;
	top: 0px;
 	right: 0px;
	bottom: 0px;
	left: 0px;
}
div.green {
	 background-color: #193b27;
}
div.pink {
	 background-color: hotpink;
}
p {
    font-family: fantasy;
    font-size: 200px;
    font-style: italic;
    text-align: center;

    /*position: fixed;
    top: 50%;
    left: 50%;
}

p.pink {
	 color: #F5F;
	 color: hotpink;
}
p.green {
	 color: #193b27;
}*/