.inverted {
    filter: invert(1);
}

.hidden {
    display: none !important;
}

.centered {
    text-align: center;
    padding: 10px 0px 0px;
}

body {
    background-color: black;
}

#login-box {
    position: fixed;
    display: inline-block;
    top: 50%;
    left: 50%;
    padding: 0.5%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 16pt;
    z-index: 3;
    cursor: pointer;
    border-radius: 10px;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: grey;
    z-index: 2;
}

input[type=text], input[type=password] {
    font-size: 16pt;
    font-family: monospace;
}

input[type=submit] {
    font-size: 16pt;
    font-family: monospace;
}

#welcome-screen {
    position: fixed;
    display: inline-block;
    top: 50%;
    left: 50%;
    padding: 0.5%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 16pt;
    border-radius: 10px;
}
